<!-- Player test html page -->
<head>
  <link src="css/main.css" rel="stylesheet">
</head>

<div class="audio-box" id="player">
</div>


<script src="open-sound.js"></script>
<script>$player = new Player("source", document.getElementById('player'), {});</script>
